.card-container{
  cursor: pointer;
}

.new-price2{
  color:rgb(1,178,238) !important;
  font-size: xx-large !important;
  font-weight: 600;
  margin-left:55% ;
}


.card_title{
  overflow:hidden !important;
  white-space:nowrap !important;
  text-overflow: ellipsis !important;
  -webkit-line-clamp: 2;
}

  .card_backGround{
background-color: #088ed1ad;  }
 .cardimg:hover{
   opacity: 0.3;
  }
  

  .text {
    opacity: 0;
    color: white;
    font-weight: 600;
    text-align: center !important;
    position: absolute;
    font-size: large !important;
    top: 20%;
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;
    pointer-events: none;
    margin: 1% !important;
  }
  .text2 {

    /* if desc is few word onyl*/
    opacity: 0;
    color: white;
    font-weight: 600;
    text-align: center !important;
    margin: 0 auto !important;
    position: absolute;
    font-size: large !important;
    top: 20%; 
    padding-inline:20%;     /* height is 2x line-height, so two lines will display */
    pointer-events: none;

  }

  .cardimg:hover + .text{
  opacity: 1 !important;
  }
  .cardimg:hover + .text2{
  opacity: 1 !important;
  }

  .loveIcon{
   background-color: #9BC1E7;
   border-radius: 50%;
   padding:5px;
   position: absolute;
   right:4px; 
   top:10px;
   z-index: 100;
   cursor: grabbing;
}


.like_modal{
  border-radius: 5% !important;
  padding-block: 50%;
}


